@font-face {
	font-family: 'Roboto';
	src: url(fonts/Roboto/Roboto-Regular.ttf);
	src: url(fonts/Roboto/Roboto-Italic.ttf);
	src: url(fonts/Roboto/Roboto-Bold.ttf);
	src: url(fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
	font-family: 'Playfair Display';
	src: url(fonts/Playfair_Display/PlayfairDisplay-Bold.ttf);
	src: url(fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
}

@font-face {
	font-family: 'Hammersmith One';
	src: url(fonts/Hammersmith_One/HammersmithOne-Regular.ttf);
}
/*................................reset...........................................*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*................................clearfix...........................................*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/*.........GLOBLE......*/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	color: #333333;
	letter-spacing: 0.5px;
}
h2, h3, h4 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}
header {
	position: absolute;
	left: 0;
	right: 0;
	padding: 15px 0;
	width: 100%;
	z-index: 9997;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.logo {
	width: 30%;
	float: left;
}
.logo h1 a img {
	display: block;
}
nav {
	width: 70%;
	float: left;
	text-align: right;
	margin-top: 10px;
}
.search {
	width: 5%;
	float: right;
	position: absolute;
	right: 0;
}
nav ul li {
	text-decoration: none;
	display: inline-block;
	padding: 5px 12px;
}
nav ul li a {
	font-size: 13px;
	line-height: 24px;
	color: #ffffff;
	font-weight: 700;
	letter-spacing: 0.25px;
}
nav ul li a:hover {
	color: #00e0d0;
	transition: all 0.5s;
}
.firstSlide img {
	width: 100%;
	display: block;
	position: relative;
	height: 670px;
}
.banner .bx-controls-direction {
	display: none;
}
.slideContent {
	position: absolute;
	left: 0;
	right: 0;
	top: 40%;
	text-align: center;
}
.slideContent p {
	font-size: 14px;
	color: #fff;
	line-height: 24px;
}
.slideContent h2 {
	font-size: 32px;
	line-height: 40px;
	font-weight: 700;
	letter-spacing: 0.10px;
	color: #fff;
}
.slideContent span.line {
	width: 50px;
	height: 1px;
	background: #00e0d0;
	display: inline-block;
	margin:20px auto;
}
.slideContent a {
	width: 120px;
	border: 1px solid #00e0d0;
	color: #00e0d0;
	display: block;
	margin: 40px auto;
	padding: 8px 0;
	font-family: 'Hammersmith One', sans-serif;
}
.slideContent a:hover {
	background: #fff;
	color: #000;
	border: 1px solid #fff;
	transition: all 0.5s;
}
article {
	background: #fff;
	padding: 70px 0;
}
article h3 {
	font-size: 22px;
	color: #413d4b;
	margin-bottom: 15px;
}
article p {
	margin-bottom: 25px;
	color: #413d4b;
}
article a {
	width: 120px;
	border: 1px solid #00e0d0;
	color: #00e0d0;
	display: block;
	text-align: center;
	padding: 8px 0;
	font-family: 'Hammersmith One', sans-serif;
}
article a:hover {
	background: #00e0d0;
	color: #fff;
	border: 1px solid #fff;
	transition: all 0.5s;
}
#playVideo {
	background: url(images/videobg.jpg) no-repeat center center;
	display: block;
	background-size: cover;
	min-height: 550px;
	text-align: center;
}

.btnPlay {
	margin: 200px auto 0;
}
.btnPlay a {
	display: block;
	margin: 0 auto 20px;
	cursor: pointer;
}
.btnPlay p {
	color: #fff;
	font-weight: 700;
}
#expertise {
	padding: 70px 0;
	text-align: center;
}
#expertise h2 {
	font-size: 22px;
	color: #413d4b;
}
#expertise h3 {
	font-size: 14px;
	color: #2f2d35;
	font-weight: 400;
	margin-top: 10px;
}
#expertise span.line {
	width: 50px;
	height: 2px;
	background: #c6c4c9;
	display: inline-block;
	margin: 20px auto 40px;
}
#expertise .col-lg-4 {
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
#expertise i {
	padding: 30px 0;
	background: -webkit-linear-gradient(#00e0d0, #4aa3cc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#expertise h5 {
	font-weight: 700;
	color: #413d4b;
}
#expertise p {
	margin-bottom: 35px;
}
#expertise .col-lg-4:nth-child(3), #expertise .col-lg-4:nth-child(6) {
	border-right: 0;
}
#expertise .col-lg-4:nth-child(4), #expertise .col-lg-4:nth-child(5), #expertise .col-lg-4:nth-child(6) {
	border-bottom: 0;
}
.team {
	background: url(images/teamsec.jpg) no-repeat center center;
	display: block;
	padding: 70px 0;
	background-size: cover;
	text-align: center;
}
.team h2 {
	font-size: 22px;
	color: #fff;
}
.team h3 {
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	margin-top: 10px;
}
.team span.line {
	width: 50px;
	height: 2px;
	background: #655b80;
	display: inline-block;
	margin: 20px auto 40px;
}
figure img {
	width: 100%;
	display: block;
}
figcaption {
	border: 1px solid rgba(255,255,255,0.70);
	padding: 20px 0;
}
figcaption h5 {
	color: #fff;
	font-weight: 700;
}
figcaption p {
	font-size: 13px;
	color: rgba(255,255,255,0.70);
}
p.btm {
	padding: 68px 0 25px;
	font-size: 14px;
	color: #fff;
}
.team a, .load a {
	width: 140px;
	border: 1px solid #00e0d0;
	color: #00e0d0;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 8px 0;
	font-family: 'Hammersmith One', sans-serif;
}
.team a:hover {
	background: #fff;
	color: #000;
	border: 1px solid #fff;
	transition: all 0.5s;
}
.load a:hover {
	background: #00e0d0;
	color: #fff;
	border: 1px solid #fff;
	transition: all 0.5s;
}
.work {
	padding: 70px 0;
}
.work h2 {
	font-size: 22px;
	color: #413d4b;
}
.work a {
	text-align: right;
	display: block;
	color: #413d4b;
	line-height: 26px;
}
.work a:hover {
	color: #00e0d0;
	transition: all 0.5s;
}
.work a i {
	top: 3px;
	position: relative;
}
.img1 {
	width: 16.66%;
	display: block;
	float: left;
}
.img1 img {
	display: block;
	width: 100%;
}
.load {
	padding: 70px 0;
}
.testimonials {
	background: url(images/testimonialsbg.jpg) no-repeat center center;
	display: block;
	padding: 70px 0;
	background-size: cover;
	text-align: center;
}
.item i {
	color: #fff;
}
.item p {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 40px 0;
}
.testimonials .bx-wrapper .bx-pager, .testimonials .bx-wrapper .bx-controls-auto {
	display: none;
}
.item h5 {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
}
.item span {
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	padding-bottom: 35px;
	display: inline-block;
}
a.active img {
	width: 64px;
	height: auto;
	margin: 0;
	top: 10px;
	position: relative;
}
.contact {
	padding: 70px 0;
}
.contact input, .contact textarea {
	width: 100%;
	border: 1px solid #e5e5e5;
	padding: 10px;
	color: #333;
	outline: 0;
	font-weight: 400;
	margin-bottom: 20px;
}
.contact textarea {
	height: 200px;
}
.contact a.submit {
	width: 120px;
	border: 1px solid #00e0d0;
	color: #00e0d0;
	display: block;
	text-align: center;
	padding: 8px 0;
	font-family: 'Hammersmith One', sans-serif;
}
.contact a.submit:hover {
	background: #00e0d0;
	color: #fff;
	border: 1px solid #fff;
	transition: all 0.5s;
}
.contact h2 {
	font-size: 22px;
	color: #413d4b;
	margin-bottom: 30px;
}
footer {
	background: url(images/footer.jpg) no-repeat center center;
	padding: 70px 0;
	background-size: cover;
	color: #fff;
}
footer h5 {
	margin-bottom: 30px;
	font-size: 15px;
	font-weight: 700;
}
footer input {
	width: 210px;
	border: 1px solid #e5e5e5;
	outline: 0;
	padding: 10px;
	background: none;
}
footer a.arrowsub {
	width: 70px;
	background: rgba(255,255,255,0.50);
	border: 1px solid rgba(255,255,255,0.0);
	padding: 12px 5px;
    text-align: center;
    /*display: inline-block;*/
    margin-left: 10px;
}
footer a.arrowsub i{color:#000; position:relative; top:5px;}
footer p {
	color: #fff;
}
#topmar {
	padding-top: 65px;
}
.socials{padding-top:20px;}
.socials a i{
	width:35px;
	border-radius:50%;
	border:1px solid #fff;
	margin-right:5px;
	text-align:center;
	color:#fff;
	font-size:20px;
	padding: 6px 0;	
}
.socials a i:hover , footer a.arrowsub:hover {
	background: #00e0d0;
	color: #fff;
	border: 1px solid #00e0d0;
	transition: all 0.5s;
}
footer ul li{display:inline-block; margin-right:30px;}
footer ul li a{color:#fff; font-weight:400;}
footer ul li a:hover , p.makeright a:hover{
		color: #00e0d0;
		transition: all 0.5s;
}
p.makeright{text-align:right; margin-right: 23px;}
p.makeright a{color:#fff;}

/* New */

.os-animation {
	opacity: 0;
}
.os-animation.animated {
	opacity: 1;
}
.staggered-animation {
	opacity: 0;
}
.staggered-animation.animated {
	opacity: 1;
}




